<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChickIn!</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>


    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="96x96"
        href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">

    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon/favicon.svg') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">

    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">

    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
</head>

<body class="bg-light">

    <div class="container mt-5">
        <h1 class="mb-4">Elenco Visite</h1>

        <a href="/" class="btn btn-primary mb-3">Torna alla Home</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Data e ora</th>
                    <th>Moltiplicatore</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Barcode</th>
                    <th>Evento</th>
                    <th>Paese</th>
                    <th>Scuola</th>
                </tr>
            </thead>
            <tbody>
                {% for visit in visits %}
                <tr>
                    <td>{{ visit['type'] }}</td>
                    <td>{{ visit['timestamp'] }}</td>
                    <td>{{ visit['multiplier'] }}</td>
                    <td>{{ visit['name'] or '' }}</td>
                    <td>{{ visit['surname'] or '' }}</td>
                    <td>{{ visit['barcode'] or '' }}</td>
                    <td>{{ visit['event_name'] or '' }}</td>
                    <td>{{ visit['country'] or '' }}</td>
                    <td>{{ visit['school_name'] or '' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>